/* Text color */
.tgray{
    color: #8494a8;
}
.tdark{
    color: #27173e;
}
.tgreen{
    color: #1dcc70;
}
.tred{
    color: #ff396f;
}

/* Background color */
.bggray{
    background: #dcdce9;
}
.bgdarkgray{
    background: #958d9e;
}