.pointer{
    cursor: pointer;
}
.max720{
    max-width: 720px !important;
    margin-right: auto;
    margin-left: auto;
}
.container{
    max-width: 720px !important;
}
.br10{
    border-radius: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.br4{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
body{
    background: #f9f9f9;
    position: relative;
}
.mcontainer{
    margin-top: 35px;
}
.footercontainer{
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 720px !important;
}