.listlagu div:last-child{
    border: none !important;
}
.listlagu div a:hover{
    color: #FF6050;
}
.imgmusic{
    width: 48px;
    height: 48px;
}
.laguhitcontainer:first-child{
    margin-top: none !important;
}
.white .nav-item .active{
    background: white !important;
    color: #27173e;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #0000003a;
}
.white .nav-item a{
    color: #958d9e;
    font-size: 13px;
}
.btn-desc{
    border: none;
    background: none !important;
}
.btn-desc:focus{
    outline: none;
}
.lagulainnya div:first-child{
    margin-top: 0 !important;
}
.sosmed{
    width: 130px;
    height: 32px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
#loader{
    background: #007bffe0;
    width: 100vw;
    height: 100vh;
    z-index: 99 !important;
}

@-webkit-keyframes rotate360 {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
@keyframes rotate360 {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
#loader img { -webkit-animation: 2s rotate360 infinite linear; animation: 2s rotate360 infinite linear; }